*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container{
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    position: relative;

}

#cloud-top{
    position: absolute ;
    right: 800px;
    top: 10px;
}

#cloud-down{
    position: absolute;

}